In [16]:
import pandas as pd

### load the data and separate into eeg data and labels on a per episode basis

In [17]:
df = pd.read_pickle("data/data_final.pkl")

labels = ["episode_type","trial_type","trial_num",
          "episode_num","is_corrupt","action_index",
          "trimmed_data","subject_num","left","win"]

eegs = df.drop(labels, axis=1)
labels_df = df[labels]

eegs.head()

,0,1,2,3,4,5,6,7,8,9,...,1871,1872,1873,1874,1875,1876,1877,1878,1879,1880
index,,,,,,,,,,,,,,,,,,,,,
0,70,66,66,66,69,75,69,48,27,20,...,51.0,45.0,43.0,41.0,48.0,70.0,83.0,90.0,100.0,115.0
1,161,161,154,146,146,148,139,121,81,39,...,90.0,87.0,84.0,80.0,81.0,81.0,86.0,84.0,85.0,86.0
2,123,124,130,134,137,131,130,124,115,118,...,91.0,86.0,76.0,65.0,52.0,43.0,38.0,36.0,32.0,23.0
3,51,52,52,45,34,41,59,67,64,54,...,133.0,119.0,106.0,119.0,131.0,118.0,100.0,87.0,80.0,70.0
4,-36,-11,8,16,16,19,23,39,53,65,...,52.0,50.0,42.0,49.0,60.0,70.0,69.0,60.0,52.0,36.0

### only keep a certain portion of each episode's readings

In [18]:
#only using the eeg readings taken after Pacman's decision
eegs = eegs[list(range(1024,1860))]

eegs.head()

,1024,1025,1026,1027,1028,1029,1030,1031,1032,1033,...,1850,1851,1852,1853,1854,1855,1856,1857,1858,1859
index,,,,,,,,,,,,,,,,,,,,,
0,0,2,6,12,25,50,68,55,38,48,...,96.0,83.0,88.0,97.0,83.0,81.0,101.0,117.0,113.0,112.0
1,3,8,25,41,57,66,69,71,73,77,...,117.0,101.0,89.0,83.0,66.0,41.0,29.0,29.0,34.0,42.0
2,-36,-38,-38,-39,-40,-38,-24,-6,5,11,...,120.0,86.0,68.0,64.0,57.0,45.0,17.0,-14.0,-30.0,-21.0
3,50,43,49,56,54,39,32,38,51,57,...,36.0,44.0,50.0,45.0,49.0,58.0,60.0,59.0,69.0,84.0
4,-196,-204,-216,-210,-200,-199,-194,-170,-150,-141,...,88.0,91.0,93.0,92.0,92.0,107.0,129.0,139.0,141.0,133.0

### rejoin the cropped eeg data and the original labels

In [19]:
df_new = eegs.join(labels_df)

df_new.head()

,1024,1025,1026,1027,1028,1029,1030,1031,1032,1033,...,episode_type,trial_type,trial_num,episode_num,is_corrupt,action_index,trimmed_data,subject_num,left,win
index,,,,,,,,,,,,,,,,,,,,,
0,0,2,6,12,25,50,68,55,38,48,...,3,0,1,0,0,1026,34,1,0,1
1,3,8,25,41,57,66,69,71,73,77,...,3,0,1,1,0,1024,39,1,0,1
2,-36,-38,-38,-39,-40,-38,-24,-6,5,11,...,1,0,1,2,0,1024,34,1,0,0
3,50,43,49,56,54,39,32,38,51,57,...,1,0,1,3,0,1025,34,1,0,0
4,-196,-204,-216,-210,-200,-199,-194,-170,-150,-141,...,0,0,1,4,0,1035,2,1,1,1

### save to pickle

In [21]:
df_new.to_pickle("data/data_halved.pkl")